* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #f3f3f3;
  /* background-color: #b3aeae; */
  background-color: #444;
  height: 100vh;
  padding: 2rem;
}

.container {
  position: relative;
  background-color: #444;
  max-width: 100rem;
  /* width: 80vw; */
  margin: 5rem auto;
  padding: 3rem;
}

.controls {
  margin: 3rem auto;
  display: flex;
  gap: 1rem;
}

#user-input {
  padding: 2rem;
  width: 80%;
  font-size: 2rem;
  border: 1px solid #b3aeae;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 2rem;
  transition: all 0.75s ease;
}

#user-input:focus {
  outline-color: #b3aeae;
}

#btnsave {
  padding: 2rem 3rem;
  font-size: 2rem;
  cursor: pointer;
  border: 1px solid #b3aeae;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #ffffff;
  text-transform: capitalize;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  /* background-color: #b3aeae; */
  background-color: #444;
  margin-top: 2rem;
  transition: all 0.75s ease;
}

.time {
  text-align: right;
  margin-left: auto;
  /* border: 1px solid red; */
  justify-self: flex-end;
  min-width: 10rem;
}

i {
  justify-self: flex-start;
  cursor: pointer;
  color: orange;
  background-color: #444;
}

@media (max-width: 600px) {
  .controls {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  #user-input {
    width: 100%;
    align-self: center;
    margin-left: 0;
    border-radius: 5px;
  }
  #btnsave {
    align-self: flex-end;
    border-radius: 5px;
  }

  li {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 55%;
  }

  .container {
    padding: 1rem;
  }

  #btnsave {
    padding: 1rem 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  li {
    margin-top: 1rem;
    font-size: 1.3rem;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 2rem;
  }

  .time {
    min-width: 7rem;
  }
}
